extends layout.pug

block content

  article.portfolio-intro
    h1.terminal
    p “In order to be irreplaceable, one must always be different” 
  article.portfolio-project-thumbs
    .projects-box.box.grid
      each data in datas
        .cell
          a(href=`/project/${data.url}`)
            img.thumbnail.rotateimg(src=`/static/img/screen_shots/main/${data.image_urls[0][0]}`, alt='')
            h5= data.project_name

