<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='keywords', content='Stefan Caky full-stack web developer')
    title Stefan Caky
    link(rel='icon', href='/static/img/logo.png')
    link(href='https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;500;700&display=swap', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')
    link(rel='stylesheet', href='/static/css/own.css')

  body
  
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/profile.jpg', alt='Stefan Caky')
        .dev-intro-box

         
          h5 Stefan Caky

         
          p Full-stack developer

         
          a(href='/about') About &rarr;
          .logo-div
            img.logo(src='/static/img/logo.png', alt='Stefan Caky')
  
    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

         
          span Stefan Caky
    
      block content
  
  script(src='https://unpkg.com/typewriter-effect@latest/dist/core.js')
  script(src='/static/js/script.js')
  script(src='/static/js/animation.js') 
