
.terminal {
  
  padding-left: 15px;
}

.Typewriter__wrapper {
  font-family: 'Turret Road', cursive;
  color: black;
}

.Typewriter__wrapper:before {
  content: '> ';
}

.Typewriter__cursor {
  color: red;
}

.coding-img {
  width: 100%;
}

.logo-div {
  margin-top: 30px;
  text-align: center;
}