extends layout.pug

block error

  article.portfolio-intro.error
    h1= err.status
    p= err.message
    br
    a(href='/') Return to home page
    br
    br
    img.error-mobile-img(src="/static/img/error/not-found-img-black.png")